pkgbase = safe-tpm2-git
	pkgdesc = Securely store secrets in a safe
	pkgver = 1
	pkgrel = 1
	arch = any
	depends = systemd
	depends = clevis
	depends = openssl
	depends = python-blessed
	depends = python-termcolor
	depends = gocryptfs
	depends = sudo
	depends = oath-toolkit
	depends = plasma-workspace
	depends = qt6-tools
	optdepends = handle-tpm
	provides = safe-tpm2
	source = git+https://github.com/kkernick/safe.git
	sha256sums = SKIP

pkgname = safe-tpm2-git
